language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
before_install:
  - sudo apt-get install -y libimage-exiftool-perl
install:
  - pip install -r requirements-dev.txt
script:
  - pytest
notifications:
  email: false
