name: Lint

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Install dependencies
        run: pip install -r requirements-dev.txt
      - name: Run pre-commit
        run: pre-commit run -a
